:root {
  --color-primary: #211f1f;
  --color-secondary: #fff;
  --color-brand: #212344;
  --color-brand-accent: #b6203a;
  --font-family-text: "Roboto Flex Variable", sans-serif;
  --height-header: 100px;
  --height-header-desktop: 80px;
  --height-footer: 80px;
  --width-container: 1200px;
  --page-padding-top: 20px;
  --page-padding-bottom: 40px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-text);
  margin: 0;
  min-height: 100vh;
  line-height: 1.75;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #212344;
}

a {
  color: var(--color-brand-accent);

  &:hover {
    text-decoration: none;
  }
}

input,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: transparent;
  padding: 0;

  img {
    display: block;
  }
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Tanstack Query Devtools */
.tsqd-parent-container {
  position: absolute;
}

.signin,
.signout {
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  text-decoration: none;
}

.signin {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 10px 20px;

  &:hover,
  &:focus {
    background: var(--color-secondary);
    color: var(--color-primary);
  }
}

.signout {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 5px 10px;
  font-size: 0.8rem;

  &:hover,
  &:focus {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(
    100vh - var(--height-header) - var(--height-footer) -
      var(--page-padding-top) - var(--page-padding-bottom)
  );

  @media (min-width: 845px) {
    margin-left: -300px;
    height: calc(
      100vh - var(--height-header-desktop) - var(--height-footer) -
        var(--page-padding-top) - var(--page-padding-bottom)
    );
  }

  div {
    text-align: center;
  }
}

.button {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 2px 5px;
  text-decoration: none;
  border-radius: 5px;

  &:hover {
    background: var(--color-secondary);
    color: var(--color-primary);
  }
}
