.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__control {
  padding: 5px;
  width: 600px;
}
